.logo{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    /* or 160% */
    letter-spacing: -0.02em;
    color: #0A1B32;
    margin-left:80px;
    margin-top: 37px;
}

.dot{
    color: #A3DC00;
}

.text{
    font-family: 'Ramaraja', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 76px;
    /* or 106% */
    letter-spacing: 0.02em;
    color: #1B0A42;
    width: 100%;
    max-width: 495px;
    margin-left: 200px;
    margin-top: 203px;
}
.para{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */
    letter-spacing: 0.02em;
    color: #9A9A9A;
    width: 100%;
    max-width: 583px;
    margin-left: 200px;
    margin-top: 10px;

}
.btn{
    background-color: #A3DC00;
    border-radius: 6px;
    width: 152px;
    height: 64px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    /* or 200% */

    text-align: center;
    letter-spacing: 0.02em;

    color: #FFFFFF;
    margin-top: 50px;
    margin-left: 200px;

}
section{
    display: inline-block;
}